body {
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
}

.stepbar {
	display: flex;
	width: 50%;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

.stepbar__item {
	box-sizing: border-box;
	position: relative;
	width: calc((100% - 30px) / 4); /* 余白分を考慮に入れて幅を設定 */
	height: 80px;
	margin: 0 5px;
	padding: 1px; /* 枠線の太さ分の padding を設定 */
	background: #299100;
}

/* 重なり順を設定 */
.stepbar__item:nth-child(1) {
	z-index: 4
}

.stepbar__item:nth-child(2) {
	z-index: 3
}

.stepbar__item:nth-child(3) {
	z-index: 2
}

.stepbar__item:nth-child(4) {
	z-index: 1
}

/* 最初と最後はそれぞれ片方ずつの余白が無いので 0 にする */
.stepbar__item:first-child {
	margin-left: 0;
}

.stepbar__item:last-child {
	margin-right: 0;
}

/*
	左側の矢印を作成。first-childは除外。
	before は枠線になる塗りの三角形を作成。
	1px の枠線なので、left: 1px; で横に 1px ずらす。
 */
.stepbar__item:not(:first-child)::before {
	position: absolute;
	content: "";
	top: 0;
	left: 1px;
	width: 0;
	height: 0;
	border-top: 40px solid transparent;
	border-right: 0;
	border-bottom: 40px solid transparent;
	border-left: 20px solid #299100;
}

/*
	after は塗りを線にするために背景色の三角形を重ねる。
	サイズは同じで、left: 0; にすることで 1px の線ができる。
*/
.stepbar__item:not(:first-child)::after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	border-top: 40px solid transparent;
	border-right: 0;
	border-bottom: 40px solid transparent;
	border-left: 20px solid #ffffff;
}

/*
	padding: 1px; の中にある div を背景色で塗りつぶすことで枠線ができる。
	中のテキストを上下左右中央揃えにするために display: flex; を設定。
*/
.stepbar__item-inner {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background: #ffffff;
	font-size: 1rem;
	font-weight: bold;
}

/* 現在位置の表示は背景色を無くす */
.stepbar__item-inner--current {
	background: transparent;
	color: #ffffff;
}

/* 左側の矢印と同じ要領で、右矢印を .stepbar__item-inner に設定。 */
.stepbar__item:not(:last-child) .stepbar__item-inner::before {
	position: absolute;
	content: "";
	top: 0;
	left: 100%;
	width: 0;
	height: 0;
	border-top: 40px solid transparent;
	border-right: 0;
	border-bottom: 40px solid transparent;
	border-left: 20px solid #299100;
}

.stepbar__item:not(:last-child) .stepbar__item-inner::after {
	position: absolute;
	content: "";
	top: 0;
	left: calc(100% - 1px);
	width: 0;
	height: 0;
	border-top: 40px solid transparent;
	border-right: 0;
	border-bottom: 40px solid transparent;
	border-left: 20px solid #ffffff;
}

/* 現在位置の矢印の背景色は非表示にする */
.stepbar__item:not(:last-child) .stepbar__item-inner--current::after {
	display: none;
}